#main.container
    h1 GeoBoy
    p(v-html="message")
    include nav
    .tab-content
        include tabs/home
        include tabs/logs
include modals/addMemoModal
include modals/editMemoModal
include script