#logs.tab-pane
    .panel.panel-default
        .panel-heading
            h2.panel-title チェックした場所が見れるよ！
        .panel-body
            .table-responsive
                table.table.table-striped.table-hover.table-condensed
                    thead
                        tr
                            th No.
                            th チェックした日
                            th
                    tbody
                        tr(v-for="x in logs")
                            td {{ x.index }}
                            td
                                {{ displayDate(x.createdAt) }}
                                small {{ displayTime(x.createdAt) }}
                            td
                                .btn-group
                                    button.btn.btn-primary(@click="redraw(x)") 開く
                                    button.btn.btn-default(@click="deleteLog(x.index)") 消す