#logs.tab-pane
    .panel.panel-default
        .panel-heading
            h2.panel-title 取得した位置情報
        .panel-body
            .table-responsive
                table.table.table-striped.table-hover.table-condensed
                    thead
                        tr
                            th No.
                            th 位置情報
                            th 取得日時
                            th
                    tbody
                        tr(v-for="x in logs")
                            td {{ x.index }}
                            td {{ x.lat }},{{ x.lon }}
                            td {{ x.createdAt }}
                            td
                                button.btn.btn-default(@click="deleteLog(x.index)") 消す