#settings.tab-pane
    .panel.panel-default
        .panel-heading
            h2.panel-title チェックの設定を変えられるよ！
        .panel-body
            .input-group
                .input-group-addon ズーム
                select.form-control(v-model="zoom" v-on:change="settingZoom()")
                    - for (var i = 1; i < 22; i++) {
                        option(value="#{i}") #{i}
                    - }